
body {
   display: flex;
}

.loginElementsDesign {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.title {
    font-size:medium;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.description {
    font-size: small;
    margin-top: 10px;
    margin-bottom: 20px;
}


