.regularButtonClass {
    height: 3em;
    width: 10em;

    background-color: #B22A95;
    color: white;

    border: none;

    transition: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1em;

    align-items: center;

}

.regularButtonClass:hover {

    cursor: pointer;
    background-color: #861d6f;
    transition: 0.3s;
}

