.delete-button {
    height: 1em;
    width: 1em;
    background-color: red;
    border-radius: 50%;
    margin-top: 0.2em;
    margin-left: 1em;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.delete-button:hover {
    cursor: crosshair;
}

.confirm-delete {
    background-color: teal;
}

.display-none {
    display: none;
}
.admin-area{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}
text-muted mb-0 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.titleColum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
